@import '../../styles/variables.scss';

.statusbar {
  font-size: 1.5rem;
  // light-turquoise with alpha value
  background: rgba(159, 255, 240, 0.4);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.75rem;
  align-items: center;
  padding: 2.25rem 3.75rem;
  border-radius: 10px;
  p {
    margin: 0;
    padding: 0 1rem;
    align-self: center;
  }
  // .counter {
  > div {
    display: flex;
    align-items: center;
    > div :nth-child(2) {
      font-size: 1rem;
    }
  }
}
