@import '../../styles/variables.scss';

.attack-list{
 max-height:  40vh;
 overflow:auto;
 font-weight: normal;
 ul {
   padding-left: 0;
   padding-right: .5rem;
   li {
     list-style-type: none;
     border-bottom: 1px solid $card-container-border-blue;
     padding: 1rem 0 1rem .5rem;
   }
 }
}

.li-active {
  background-color: $active-gray;
}