@import '../../styles/variables.scss';

.target-list {
  max-height: 400px; 
  overflow: auto;
  font-weight: normal;
  ul {
    padding-left: 0;
    padding-right: 5px;
    .li-active {
      background-color: $active-gray;
    }
    li {
      list-style-type: none;
      border-top: 1px solid $button-separator-border;
      padding: 15px 0 15px 5px;
    }
  }
}