@import '../../styles/variables.scss';
@import '../../styles/general.scss';

.battle-list {
  padding: 50px;
  min-width: 870px;
  background-color: $nested-component-background;
  color: $white;
  border-radius: 20px;
  > * {
    text-align: left;
  }
  h1 {
    padding-bottom: 30px;
  }
  div {
    max-height: 500px;
    overflow: auto;
    ul {
      padding-left: 0;
      border-bottom: 1px solid $button-separator-border;
      li {
        list-style-type: none;
        border-top: 1px solid $button-separator-border;
        padding: 15px 30px;
        display: flex;
        div {
          display: flex;
          margin-left: 35px;
        }
        p {
          margin: 0;
          &:last-of-type {
            margin-right: auto;
          }
        }
        &:hover {
          background-color: $active-gray;
        }
      }
    }
  }
}
