@import '../../styles/variables.scss';

.buildings {
  //TODO ezeket kitenni generalba
  padding: 50px;
  height: 75%;
  width: 80%;
  min-height: 720px; 
  min-width: 635px;
  max-width: 870px;
  color: $white;
  background-color: $nested-component-background;
  border-radius: 20px;
  box-shadow: 0px 5px 35px $nested-component-background;
  > * {
    text-align: left;
  }
  ////////////////////
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // card-container
  > div {
    display: flex;
    justify-content: space-around;
    // margin-bottom: 35px;
  }
  > div:last-of-type {
    margin-top: 35px;
    padding: 20px 0 0;
    border-top: 1px solid $button-separator-border;
  }
}
