.login-register-container {
  max-width: 29.5rem;
  width: 100%;
  padding: 0;
  header {
    .header-line {
      width: 100%;
      border-top: 5px solid $light-turquoise;
    }
    h1 {
      font-size: 6rem;
      font-weight: 900;
      color: $light-turquoise;
      text-transform: uppercase;
    }
  }

  .form-container {
    border-radius: 1rem;
    margin-top: 1.25rem;
    padding: 1rem 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    h2 {
      margin-top: 1rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 900;
      color: $blue;
    }
    form {
      .error-message {
        display: inline-block;
        color: red;
        margin: 0;
        width: 80%;
        text-align: left;
        padding-left: 20px;
      }
    }
    a {
      display: block;
      margin: 1rem;
      color: $light-turquoise;
      font-weight: bold;
      &:hover {
        color: $turquoise;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-device-width: 480px) {
  .login-register-container {
    header {
      h1 {
        font-size: 19.5vw;
      }
    }
  }
}
