.login-register-container {
  max-width: 470px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  header {
    //UNDERSEA line
    div {
      width: 100%;
      border-top: 5px solid $light-turquoise;
    }
    //UNDERSEA text
    h1 {
      font-size: 6 * $font-size;
      font-weight: 900;
      color: $light-turquoise;
      text-transform: uppercase;
    }
  }

  .form-container {
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px 0 30px;
    background: $login-form-container-background;
    backdrop-filter: blur(8px);
    h2 {
      margin-top: 15px;
      text-align: center;
      font-size: 40px;
      font-weight: 900;
      color: $statusbar-font;
    }
    form {
      padding: 10px 50px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .error-message {
        color: $error-message;
        font-weight: bold;
        text-align: left;
        padding-left: 20px;
      }
      input:last-of-type {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 0;
        color: $white;
      }
    }
    a {
      color: $light-turquoise;
      font-weight: bold;
      &:hover {
        color: $turquoise;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-device-width: 480px) {
  .login-register-container {
    header {
      h1 {
        font-size: 19.5vw;
      }
    }
  }
}
