$white: #fff;
$dark-blue: #001234; //sidebar font
$light-blue: #3B7DBD; //sidebar buttons border
$background-blue: #03255F; //background-color of nested components
$blue: #1C3E76; //status bar font
$turquoise: #6BEEE9;
$light-turquoise: #9FFFF0;
$dark-turquoise: #0FCFDE;
$status-border-color: #428DFF;
$active-gray: rgba(255, 255, 255, 0.2);
$card-container-border-blue: #3F68AE;