// color
$white: #f7f7f7;
$sidebar-font-blue: #001234;
// $img-border: #3b7dbd;
$img-border: #428dff;
$nested-component-background: #03255f;
$statusbar-font: #1c3e76;
$turquoise: #6beee9;
$light-turquoise: #9ffff0;
$dark-turquoise: #0fcfde;
$inactive-button: #3b7dbd;
$active-gray: rgba(255, 255, 255, 0.2);
$button-separator-border: #3f68ae;
$input-background-gray: #dfe3ee;
$input-placeholder-gray: #707070;
$error-message: #cc0000;
$login-form-container-background: rgba(255, 255, 255, 0.05);
$statusbar-background: rgba(159, 255, 240, 0.4);
$buttons-background: transparent
  linear-gradient(
    258deg,
    $light-turquoise 0%,
    $turquoise 36%,
    $dark-turquoise 100%
  );

// font
$font-size: 16px;
