$white: #fff; //Side: Sok oldalon a fehér az nem "fehér". Valamennyire szürke szokott lenni, mert a tökéletes fehér bántja a szemet
$dark-blue: #001234; //sidebar font
$light-blue: #3b7dbd; //sidebar buttons border
$background-blue: #03255f; //background-color of nested components
$blue: #1c3e76; //status bar font
$turquoise: #6beee9;
$light-turquoise: #9ffff0;
$dark-turquoise: #0fcfde;
$status-border-color: #428dff;
$active-gray: rgba(255, 255, 255, 0.2);
$card-container-border-blue: #3f68ae;
$input-background-gray: #dfe3ee;
$input-placeholder-gray: #707070;
