@import '../../styles/variables.scss';

//card
// > div {
.card {
  justify-content: space-between;
  height: 20rem;
  padding: 1rem 1.5rem;
  text-align: center;
  border: none;
  background: none;
  img {
    height: 8rem;
    width: 8rem;
  }
  &:active {
    background-color: $active-gray;
  }
  div {
    white-space: pre-wrap;
    p {
      margin: 0.2rem;
    }
  }
}

.bg-shadow {
  background-color: $active-gray;
}
