@import '../../styles/variables.scss';

.card {
  justify-content: space-between;
  height: 320px;
  padding: 15px 25px;
  text-align: center;
  border: none;
  background: none;
  border-radius: 10px;
  img {
    align-self: center;
    height: 125px;
    width: 125px;
  }
  div {
    white-space: pre-wrap;
    p {
      margin: 5px;
    }
  }
}
.card-active {
  background-color: $active-gray;
}
