@import '../../styles/variables.scss';

.main-container {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  //Minimális szélességet és magasságot meg kell adni, meddig lehet méretezni
  height: 100%;
  width: 100%;
  padding: 10px;
  // > div {
  .second-row {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    // > div {
    .active-component {
      width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
  }
}

//TODO responsive layout
.base-text {
  font-weight: normal;
}
