@import '../../styles/variables.scss';

.main-container {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  //Minimális szélességet és magasságot meg kell adni, meddig lehet méretezni

  // > div {
  .second-row {
    display: flex;
    flex: 1;
    overflow: auto;
    // > div {
    .active-component {
      padding-bottom: 30px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

//TODO responsive layout
.base-text {
  font-weight: normal;
}
