@import '../../styles/variables.scss';

.main-container {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}
.second-row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  .active-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
