@import '../../styles/variables.scss';
@import '../../styles/general.scss';

.attacks {
  //TODO ezeket kitenni generalba
  padding: 50px;
  height: 75%;
  min-height: 720px;
  width: 80%;
  min-width: 635px;
  max-width: 870px;
  background-color: $nested-component-background;
  color: $white;
  border-radius: 20px;
  > * {
    text-align: left;
  }
  ///////////////////
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // main container of things
  > div {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid $button-separator-border;
    // 2 side containers
    > div {
      max-height: 100%;
      width: 100%;
      // height: 100%;
      padding: 0 5px;
      input {
        width: 90%;
        margin-bottom: 15px;
      }
    }
  }
}
