@import '../../styles/variables.scss';

.attacks {
  padding: 50px 50px 25px 50px;
  //Pixelben vagy %-ban add meg, és állíts egy min width/min-height is.
  max-height: 100%;
  min-width: 380px;
  background-color: $background-blue;
  color: $white;
  border-radius: 20px;
  overflow: auto;

  //Text-align inkább attack osztályba rakd, és akkor minden alatta lévőre igaz lesz
  > * {
    text-align: left;
  }
  > button {
    margin: 0;
  }
  // main container of things
  > div {
    display: flex;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
    justify-content: space-around;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid $card-container-border-blue;

    // 2 side containers
    > div {
      width: 100%;
      padding: 0 5px;
      input {
        width: 90%;
        margin-bottom: 1rem;
      }
    }
  }
}
