@import '../../styles/variables.scss';

.attacks {
  padding: 3.5em; //Ne még 1 féle mérés
  //Pixelben vagy %-ban add meg, és állíts egy min width/min-height is.
  max-height: 70vh;
  width: 50vw;
  background-color: $background-blue;
  color: $white;
  border-radius: 20px;
  //Text-align inkább attack osztályba rakd, és akkor minden alatta lévőre igaz lesz
  > * {
    text-align: left;
  }
  // main container of things
  > div {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid $card-container-border-blue;
    // 2 side containers
    > div {
      width: 100%;
      padding: 0 5px;
      input {
        width: 90%;
        margin-bottom: 1rem;
      }
    }
  }
}
