@import '../../styles/variables.scss';

.sidebar {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  max-width: 12.5rem;
  > a {
    color: $dark-blue;
    background-color: $light-turquoise;
    font-size: 1.5rem;
    padding: 2px;
    border-radius: 20px;
    margin-top: 10px;
    background: transparent
      linear-gradient(
        258deg,
        $light-turquoise 0%,
        $turquoise 36%,
        $dark-turquoise 100%
      );
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $dark-blue;
      box-shadow: $background-blue 4px 4px 4px;
    }
  }
  .usermenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    margin: 5rem 0;
    padding: 1rem;
    img {
      height: 6rem;
      width: 6rem;
      border: 2px solid $light-blue;
      border-radius: 10px;
      margin: 0.5rem;
      background-color: $light-turquoise;
    }
    a,
    p {
      color: $white;
      margin: .4rem;
      font-size: 1.1rem;
    }
    a:hover {
      color: $background-blue;
      text-decoration: none;
    }
  }
  .undersea-line {
    width: 100%;
    border-top: 5px solid $light-turquoise;
  }
  .undersea-title {
    color: $light-turquoise;
  }
}
