@import '../../styles/variables.scss';

.sidebar {
  height: 100%;
  max-width: 12.5rem; //px legyen
  display: flex;
  flex-direction: column;
  justify-content: start; //Ez space between, de inkább start, és utolsó eleme (logó), meg legalulra csúszik
  padding-left: 30px; //px legyen
  padding-right: 30px; //px legyen
  min-width: 250px;
  > * {
    margin-bottom: 30px;
    &:last-child {
      margin-top: auto;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    > a {
      color: $dark-blue;
      background-color: $light-turquoise;
      font-size: 1.5rem;
      padding: 2px;
      border-radius: 20px;
      margin-top: 10px;
      background: transparent //Ez is mehetne variablesbe
        linear-gradient(
          258deg,
          $light-turquoise 0%,
          $turquoise 36%,
          $dark-turquoise 100%
        );
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $dark-blue;
        box-shadow: $background-blue 4px 4px 4px;
      }
    }
  }
  // usermenu
  .usermenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2); //Ez is mehetne variablesbe
    backdrop-filter: blur(8px);
    border-radius: 10px;
    // margin: 4rem 0;
    padding: 1rem;
    img {
      height: 6rem;
      width: 6rem;
      border: 2px solid $light-blue;
      border-radius: 10px;
      margin: 0.5rem;
      background-color: $light-turquoise;
    }
    a,
    p {
      color: $white;
      margin: 0.4rem;
      font-size: 1.1rem;
    }
    a:hover {
      color: $background-blue;
      text-decoration: none;
    }
  }
  // undersea line
  .sidebar-footer {
    display: flex;
    flex-direction: column;
    span {
      width: 100%;
      border-top: 5px solid $light-turquoise;
    }
    // undersea title
    h1 {
      color: $light-turquoise;
      text-transform: uppercase;
    }
  }
}
