@import '../../styles/variables.scss';

.sidebar {
  overflow-y: auto;
  height: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-left: 32px;
  padding-top: 20px;
  .links {
    display: flex;
    flex-direction: column;
    > a {
      color: $sidebar-font-blue;
      background-color: $light-turquoise;
      font-size: 1.5 * $font-size;
      padding: 2px;
      border-radius: 20px;
      margin-top: 10px;
      background: $buttons-background;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $sidebar-font-blue;
        box-shadow: $nested-component-background 4px 4px 4px;
      }
    }
  }
  // usermenu
  .usermenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $active-gray;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    img {
      height: 100px;
      width: 100px;
      border: 2px solid $img-border;
      border-radius: 10px;
      margin: 5px;
      background-color: $light-turquoise;
    }
    a,
    p {
      color: $white;
      margin: 5px;
      font-size: 1.1 * $font-size;
    }
    // links in usermenu
    a:hover, & :last-child:hover {
      color: $nested-component-background;
      text-decoration: none;
      cursor: pointer;
    }
  }
  // undersea line
  .sidebar-footer {
    display: flex;
    flex-direction: column;
    span {
      width: 100%;
      border-top: 5px solid $light-turquoise;
    }
    // undersea title
    h1 {
      color: $light-turquoise;
      text-transform: uppercase;
    }
  }
}
